{% extends 'layout.html' %}

{% block title %}History{% endblock %}

{% block body %}
<div class="table-container">
<table class="table table-striped">
    <tr>
      <th>Symbol</th>
      <th>Shares</th>
      <th>Price</th>
      <th>date</th>  
    </tr>
    {% for row in result %}
        <tr>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>  
          <td>{{row[3]}}</td>  
          <td>{{row[4]}}</td>    
        </tr>
    {% endfor %}    
   </table>
   </div> 
{% endblock %}   
