{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block message %}
    {% if action %}
      <div class="alert alert-primary centered message-action" role="alert">
        {{action}}
      </div>
    {% endif %} 
  {% endblock %}

{% block body %}
  <div class="table-container">
  <table class="table table-striped">
    <tr>
    <th>Symbol</th>
    <th>Shares</th>
    <th>Price</th>
    <th>Total</th>
  </tr>
  {% for row in result %}
    <tr>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
    </tr>
  {% endfor %}
    <tr>
      <td></td> <td></td>
      <th>Cash</th>
      <td>{{cash}}</td>
    </tr>
    <tr>
      <td></td> <td></td>
      <th>Total</th>
      <td>{{full_total}}</td>
    </tr>
  </table>
</div>  

{% endblock %}


