{% extends 'layout.html' %}

{% block title %}Change Password{% endblock %}

{% block message %}
    {% if action %}
      <div class="alert alert-primary centered message-action" role="alert">
        {{action}}
      </div>
    {% endif %} 
  {% endblock %}

{% block body %}
  <form action="/changepasswd" method="post">
    <div class="form-container-item input-container">
      <input  class="form-control" type="password" autocomplete="off" name = "old" placeholder="current password">
    </div>
     <div class="form-container-item input-container">
    <input type="password"  class="form-control" autocomplete="off" name = "new" placeholder="new password">
    </div>
    <div class="form-container-item input-container">
    <button class ="btn btn-primary">Change</button>
    </div>
    {% if error %}  
    <div class = "er">{{error}}</div>
    {% endif %}  
  </form> 
{% endblock %}